{% extends 'base.html' %}

{% block content %}
<div class="form-container">
	
	<form method="post" id="login-form">
		<h1>Login</h1>
		{% csrf_token %}
		{% if messages %}
			<ul>
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		<table class="form-table">
			<tr>
				<td><label for="id_username">Username:</label></td>
				<td><input type="text" id="id_username" name="username"></td>
			</tr>
			<tr>
				<td><label for="id_password">Password:</label></td>
				<td><input type="password" id="id_password" name="password"></td>
			</tr>
		</table>
		<button type="submit">Login</button>
		<div class="sign-up">
			Don't have an account?
			<a href="{% url 'register' %}"> Sign Up</a>
		</div>
	</form>
</div>



{% endblock %}
