{% extends 'base.html' %}

{% block content %}

<div class="form-container">
<form method="POST" action="" id="register-form">
    <h1>Register</h1> 
    {% csrf_token %}
    <table class="form-table">
        <tr>
            <td>{{form.username.label}}</td>
            <td> {{form.username}}</td>
        </tr>
        <tr>
            <td>{{form.email.label}}</td>
            <td>{{form.email}}</td>
        </tr>
        <tr>
            <td>{{form.password1.label}}</td>
            <td>{{form.password1}}</td>
        </tr>
        <tr>
            <td>{{form.password2.label}}</td>
            <td>{{form.password2}}</td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Create User">
            </td>
        </tr>
    </table>
   
    
    {{form.errors}}
    <div class="sign-up">
        already have an account?
        <a href="{% url 'login' %}"> Sign In</a>
    </div>

</form>
</div>
{% endblock %}